.wrapper{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 50;
    top:0;
    left: 0;
}

.item{
    position: relative;
    z-index: 51;
}