.wrapper {
  width: 33%;
  display: flex;
  align-items: center;
}

.img {
  width: 50px;
  height: 50px;
  background: #f8f9fc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.title {
  font-size: 13px;
  color: rgba(95, 97, 117, 0.75);
  letter-spacing: 0.43px;
  margin-bottom: 5px;
}

.content {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #1d2038;
}

@media (max-width: 800px) {
  .wrapper {
    width: 50%;
    margin-bottom: 5px;
  }
}
@media (max-width: 500px) {
  .wrapper {
    padding: 0 15px;
    border-left: 1px solid #eaecf7;
    border-right: 1px solid #eaecf7;
    width: 100%;
    margin-bottom: 5px;
    justify-content: center;
  }
}
