/* FONTS */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,700&display=swap'); */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

button {
  background: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* конец обнуления */

:root {
  --bg-color: #f0f1f6;
  --grey-main: #f8f9fc;
  --black: #1d2038;
  --grey: rgba(95, 97, 117, 0.75);
  --user-status: #8c93d6;
  --main-color: #fff;
  --transition: 0.4s ease;
  --green: #84bdb3;
  --red: #e16767;
  --yellow: #f5a623;
}

body {
  overflow: hidden;
  background: linear-gradient(
      0deg,
      rgba(197, 201, 234, 0.12),
      rgba(197, 201, 234, 0.12)
    ),
    #ffffff;
  font-family: "Roboto", sans-serif;
  color: var(--black);
}

.App {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 12fr;
  grid-template-rows: 1fr minmax(0, 20fr);
  grid-template-areas: "nav header" "nav main";
}

.App-header {
  grid-area: header;
  height: 100%;
}

.App-main {
  overflow-y: auto;
  overflow-x: hidden;
  grid-area: main;
  height: 100%;
  padding: 10px;
}

.App-nav {
  grid-area: nav;
  height: 100%;
}
.extra {
  display: none;
  padding: 15px;
}
@media (max-width: 1200px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr minmax(0, 20fr);
    grid-template-areas: "header header" "main main";
  }
  .App-nav {
    display: none;
  }
}
@media (max-width: 800px) {
  .extra {
    display: flex;
    justify-content: space-between;
  }
}
/* scroll */

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #fefefe;
}

::-webkit-scrollbar-thumb {
  background-color: var(--user-status);
  border-radius: 10px;
}
