.wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 51;
}

.body {
    width: 400px;
    height: 73px;
    position: absolute;
    top: 10%;
    right: 5%;
    transform: translate(-5%, -10%);
    background: #FFFFFF;
    border-radius: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas: "icons" "msg" "close";
}

.icon {
    grid-area: icons;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg {
    grid-area: msg;
    font-weight: 500;
    font-size: 14px;
    line-height: 113.19%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #1D2038;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.close{
    grid-area: close; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}